*
{
	margin : 10px;
	padding: 0;
	font-family: "open sans";

}

.frame
{
	width: 150px;
	height: 20px;
	margin-top: 20px;
	font-size: 14px;

}

table 
{  
  width: 200px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;

}

td, th
{
	width: 50px;
	height: 20px;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	text-align: left;
}

td
{
	background-color: beige;
	padding-left: 2px;
	padding-right: 2px;
}

th
{
	text-align: center;
	background-color: tan;
}

.header
{
	font-weight: bold;
}

.right
{
	text-align: right;
}
.podvuceno
{
	text-decoration: underline;
}